main{

    h1{
        @include propiedades_h1;
     }
     
    .formulario{
        width: 100%;
        padding: 5%;
        font-family: $letra1;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: left;
        color: $mar;
        line-height: 2rem;
    
        legend{
            margin-bottom: 2%;
            &:hover{
                color: $agua;
            }
        }

        .interiorformulario{
            background-color: $agua_difm2;
            border: $mar 0.15rem solid;
            box-shadow: 6px 6px 6px $mar;
       
            label{
                padding: 0.2%;
                margin-top: 1%;
                margin-left: 2%;
                color: white;
                font-family: $letra1;
                font-size: 1.2rem;
            }
            input{
                margin-left: 2%;
                margin-right: 2%;
                width: 96%;
                font-family: $letra2;
                font-size: 1.5rem;
                color: black;
                opacity: 0.3;
                border: $mar 0.15rem solid;
            }

            .comentarios{
                text-align: center;
            }

            textarea{
                width: 96%;
                color: $mar;
                font-size: 1.5rem;
                opacity: 0.7;
                background-image: url(../img/primera.jpeg);
                background-size: 100% 100%;
                border: $mar 0.15rem solid;
            }

            .botonera{
                align-items: center;
                justify-content: center;
                width: 10%;
                margin-top: 2%;
                margin-bottom: 2%;
                margin-left: 45%;
                &:hover{
                    @include hover_comida;
                    transition: all .4s ease-in-out;
                }
            }  
        }
    }

    .carrousel{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
        @include propiedades_historia;
    }
}