main{
    
    h1{
        text-align: center;
        font-size: 2.5rem;
        padding:0.2%;
        font-family: $letra1;
        color: $mar;
    }
    
    .menu{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1%;
        row-gap: 3%;
        padding: 2%;
        margin-top: 3%;
        margin-bottom: 10%;
        grid-template-areas: 
        "EMPANADA CALAMARES CAMARONES COCTEL TOSTONES"
        "FOSFORERA CATALANA PARRILLA LANGOSTA COCADA";
        justify-items: center;
            .empanada{
                grid-area: empanada;
            }
        
            .calamares{
                grid-area: calamares;
            }
        
            .camarones{
                grid-area: camarones;
            }
        
            .coctel{
                grid-area: coctel;
            }
        
            .tostones{
                grid-area: tostones;
            }
        
            .fosforera{
                grid-area: fosforera;
            }
        
            .catalana{
                grid-area: catalana;
            }
        
            .parrilla{
                grid-area: parrilla;
            }
        
            .langosta{
                grid-area: langosta;
            }
        
            .cocada{
                grid-area: cocada;
            }
    
            .comida{
                width: 100%;
                height: 50%;
                transition: all .4s ease-in-out;
                transition: all 500ms ease-out;
                cursor: pointer;
            }
            .comida:hover{
                @include hover_comida; 
            }
            
            h2{
                text-align: center;
                padding: 2%;
                font-family: $letra2;
                color: $arena;
                font-size: 2rem;
                margin-top: 2%;
                background-color: $agua;
                width: 100%;
            }
            
            .descripcion{
                font-family: $letra1;
                font-size: 100%;
                width: auto;
                height: auto;
                padding: 2%;
                line-height: 1.5rem;
                color: white;
                background: $agua_difm;
                opacity: 1;
                text-align: center;
            }
            
            .precio{
                color: $mar;
                font-family: $letra1;
                font-weight: bold;
                background-color:$arena;
                width: 100%;
                padding: 0.2%;
                margin-bottom: 1%;
                align-content: end;
            }
    }
    
}