.main_historia{

    h1{
        @include propiedades_h1;
     }
     
    .historia{
        padding: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 0.2fr);
        gap: 3%;
        margin-bottom: 10%;
        grid-template-areas:
        "parrafo1 reportaje"
        "parrafo2 reportaje"
        "parrafo3 reportaje"
        "videoabuela parrafo4"
        "videoabuela parrafo5"
        "carrousel carrousel";

            .parrafo1{
                grid-area: parrafo1;
                @include propiedades_historia;
            }
            .parrafo2{
                grid-area: parrafo2;
                @include propiedades_historia;
            }
            .parrafo3{
                grid-area: parrafo3;
                @include propiedades_historia;
            }
            .parrafo4{
                grid-area: parrafo4;
                @include propiedades_historia;
            }
            .parrafo5{
                grid-area: parrafo5;
                @include propiedades_historia;
            }
            .videoabuela{
                grid-area: videoabuela;
            
                .video1{
                    width: 100%;
                    height: 100%;
                    box-shadow: 6px 6px 6px $mar;
                    background-image: url(../img/ARENA.jpg);
                    background-size: 100% 100%;
                    border: $agua 0.2rem solid; 
                }
            }
            .reportaje{
                grid-area: reportaje;
                padding-bottom: 2%;   
        
                .periodico{
                    width: 100%;
                    height: 100%;
                    box-shadow: 6px 6px 6px $mar;
                    background-image: url(../img/COCADA.jpg);
                    border: $agua 0.2rem solid;
                }
                .vinculoreportaje{
                    margin-top: 1%;
                    float: right;
                    text-align: center;
                    background-color: $arena_difm2;
                    border: $agua 0.15rem solid;
                    width: 20%;
                }
                a{
                    text-decoration: none;
                    font-family: $letra1;
                    font-size: 0.8rem;
                    color: $mar;
                    &:hover{
                        color:$agua;
                    }
                } 
            }

            .carrousel{
                grid-area: carrousel;
                width: 100%;
                border: $agua 0.2rem solid;
                box-shadow: 6px 6px 6px $mar;
                .carousel-item{
                    height: 35rem;
                }
            }
        }
    }