.main_ubicacion{

    h1{
        @include propiedades_h1;
     }
     
    .contenedor_mapa{

        .mapa{
            padding: 2%;
            width: 96%;
            height: 50rem;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 2%;
            margin-right: 2%;
            @include propiedades_historia;
        }
    }
    .ubicacion_video{
        
        .acceso{
            font-family: $letra1;
            color: $mar;
            font-size: 2rem;
            float: right;
            margin-right: 5%;
            margin-top: 2%;
            &:hover{
                color: $arena;
            }
        }
        .video{
            padding: 2%;
            width: 96%;
            height: 20rem;
            margin-top: 2%;
            margin-bottom: 5%;
            margin-left: 2%;
            margin-right: 2%;
            @include propiedades_historia;
        }
    }
}