@import "variables";
@import "mixin";
@import "header";
@import "footer";
@import "pacomer";
@import "palinicio";
@import "parecordar";
@import "paubicar";
@import "pacontactar";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/PLAYA1.jpg);
    background-size: 100% 100%;
    width: 100%;
}


@media screen and (max-width: 768px) {
    
  
    body{
       background-color:rgba(20, 202, 202, 0.13);
    }

    header{
        .navbar{
            .navbar-brand{
                margin-top: 1%;
                width: 20%; 
            }
        }
        .collapse{
            ul li{
                font-size: 0.5rem;
            
                .nav-link{
                    padding: 0.2%;
                    margin: 0%;
                    color:rgb(3, 61, 61);
                    font-size: 1.5rem;
                    background-color:  rgb(140, 163, 133);
                }
            }
        }
    }
    
    footer{
        display: inline-block;
        width: 100%;

        .footer_frase{
            display: block;
            font-size: 1.2rem;
            text-align: center;
            margin-left: 0%;
        }
        .redessociales{
            display: block;
            text-align: center;
            margin-bottom: 3%;

            .posicionredes{
                .twitter{
                    width: 2rem;
                }
            
                .facebook{
                    width: 2rem;
                }
            
                .instagram{
                    width: 2rem;
                }
            }
        } 
    }
    
    main{
        .portada{
            display: flex;
            width: 100%;
        
            .portada_img{
                display: inline;
                width: 100%;
                height: 20%;
                margin-top: 2%;
                margin-bottom: 2%;
                opacity: 1; 
            }
        
            .portada_frase{
                font-size: 2rem;
                animation-duration: 0;
                animation-name: none;
                animation-iteration-count: none;
            }
        }
        .portada_imagenes{
            margin-top: 2%;
            display: inline;
            align-content: center;
            padding-top: 0;
            padding-bottom: 0;

            .modelo_1{
                margin-top: 2%;
                width: 100%;
                opacity: 1;
                padding: 0;
            }
        
            .modelo_2{
                display: none;
            }
        
            .modelo_3{
                display: none;
            }
        
            .modelo_4{
                margin-top: 4%;
                margin-bottom: 5%;
                width: 100%;
                opacity: 1;
                padding: 0; 
            }
        }
    }

    .animate__animated{
        text-align: center;
        font-size: 1.5rem;
        padding:1%;
        font-family: $letra1;
        color: $mar;
    }

    main{

        .menu{
            background-image: none;
            background-color: $arena_difm2;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(11, 12rem);
            gap: 2%;
            row-gap: 1%;
            margin-bottom: 1%;
            grid-template-areas: 
            "NAV"
            "EMPANADA"
            "CALAMARES"
            "CAMARONES"
            "COCTEL"
            "TOSTONES"
            "FOSFORERA"
            "CATALANA"
            "PARRILLA"
            "LANGOSTA"
            "COCADA";

            .comida{
                width: 40%;
                height: 100%;
                float: left;
                margin-top: 0%;
                box-shadow: 6px 6px 15px rgb(1, 1, 34);
                bottom: none;
            }
        
            .comida:hover{
                transform: none;
            }
        
            h2{
                padding: 0%;
                display: inline;
                font-size: 1.7rem;
                height: 5%;
                margin-top: 0%;
            }
        
            .descripcion{
                margin-top: 0%;
                padding: 2%;
                float: right;
                width: 60%;
                height:84%;
                font-size: 1.1rem;
                line-height: 1.4rem;
                background: $agua_difm;
                border: rgb(3, 61, 61) 0.2rem solid;
                opacity: 0.9;
                text-align:left;
            }
            .precio{
                color: $mar;
                font-size: 1rem;
                font-family: $letra1;
                background-color:$arena;
                border: rgb(3, 61, 61) 0.2rem solid;
                width: 20%;
                text-align: center;
                float: right;
                align-content: end;
            }
        }
    }

    main{

        .historia{
            padding: 3%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 0.20fr);
            gap: 1%;
            margin-bottom: 20%;
            grid-template-areas:
            "parrafo1"
            "parrafo4"
            "videoabuela"
            "parrafo3"
            "parrafo5";

            .parrafo1{
            @include propiedas_historia_mobile;
            }

            .parrafo2{
            display: none;
            }

            .parrafo3{
                @include propiedas_historia_mobile;
            }

            .parrafo4{
                @include propiedas_historia_mobile;
            }

            .parrafo5{
                @include propiedas_historia_mobile;
            }

            .reportaje{
                display: none;
            }
        }
    }

    main{
        .contenedor_mapa{

            .mapa{
                width: 90%;
                height: 25rem;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        .ubicacion_video{
            .acceso{
                text-align: center;
                font-size: 1.5rem;
                float: none;
            }
            .video{
                width: 90%;
                height: 10rem;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        
    }
    main{
        .formulario{

            legend{
                font-size: 1rem;
            }
            .interiorformulario{
                font-size: 1rem;
            label{
                font-size: 1rem;
            }
            input{
                font-size: 1rem;
            }
            textarea{
                width: 96%;
                height: 5rem;
                margin-top: 2%;
                margin-left: 2%;
                margin-right: 2%;
                background-image: none;
                background-color: white;
                font-size: 1rem;
            }
            .botonera{
                width: 20%;
                margin-left: 40%;
                margin-bottom: 2%;
                .enviar{
                    font-size: 1rem;
                }
            } 
            } 
        }
        .animate__animated{
            animation: none;
        }
    }
}


